/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.note{
  font-family: "MusiQwik";
  font-size: 16em;
}

.undernote{
    margin-left: -34px;
    z-index: -5;
}

@font-face {
  font-family: "MusiQwik";
  src: url("assets/MusiQwik.ttf") format("truetype");
}
#notesDiv, #dupa{
  text-align:center;
  margin-top: 0.1em;
}
#clef{
  margin-top: 0.1em;
}

#midiDevice{
  font-weight: bold;
  text-align: center;
}

input[type=checkbox]{
  width: 2em;
  height: 2em;
}

label{
  position:relative;
  top: -0.5em;
}

#settings{
  width: 100%;
}

.row{
  width: 100%;
}

.navbar-light{
  text-align: center;
}

#midiSettings{
  margin-left: auto;
  margin-right: auto;
}

#containerz{
  position:relative;
}
#containerzz{
  background-color:rgba(255,255,255,0.96);
  flex: 1 1 auto;
}

.navi, .infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.infoi {
  z-index: 10;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body{
  overflow-x: hidden;
  background-image: url("/assets/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navbar-background{
  background-color: rgba(0,0,0,0.45);
  color:white;
  border-bottom: 1px solid #333333;
  
}

.navbar{
  flex: 0 1 auto;
}

html{
  height: 100%;
}